*.iml
.gradle
/gradle
/.idea/
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/core/build
/core.iml
/captures
/desktop/desktop.iml
/desktop/build
/src/Tests
/out/
.externalNativeBuild
gradlew*
projectFilesBackup/
*.log
*.bit
*.class
/app/release/

# IntelliJ
out/
*.lsig

lib/
sdcard/
*.pcap
*.pcapng
